<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>list of owners</title>
</head>
<body>
  <h2 th:text="'List of owners'">List of Owners....</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <thstyle="width: 200px;">First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th style="width: 120px">Telephone</th>
        <th>Pets</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner :${owners}">
        <td th:text="${owner?.id}">1</td>
        <td th:text="${owner?.firstName}">peepee</td>
        <td th:text="${owner?.lastName}">poopoo</td>
    </tr>
    </tbody>
</table>
</body>
</html>